html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  min-height: 100%;
  overflow: hidden;
}

:root {
  --main-color: #6ca53d;
  --font-color: #222;
  --min-size: 10px;
  --radius: 8px;
  --radius-mini: 4px;
  --border: 1px solid #ccc;
  --max-width: 600px;
  --header-height: 40px;
  --shadow: 0 0 20px 2px #e9e9e9;
  --title-size: 20px;
  --space-1: var(--min-size);
}

body {
  color: var(--font-color);
  text-align: center;
}

* {
  border-radius: var(--radius-mini);
}

input {
  border: var(--border);
}

input:focus {
  outline: none;
}

.button {
  padding: 12px 24px;
  background-color: var(--main-color);
  display: inline-block;
  color: #fff;
  cursor: pointer;
  border: none;
  display: inline-block;
}

.btn-group {
  display: flex;
  align-items: center;
  overflow: hidden;
  margin: var(--space-1);
  border: 1px solid var(--main-color);
  button {
    font-size: 20px;
    flex: 1;
    margin: 0;
    border-radius: 0;
    &:nth-child(2n) {
      background-color: #fff;
      color: var(--main-color);
    }
  }
}

.flex-box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  > div{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .left {
    width: 40%;
    max-width: 500px;
    border-right: 1px solid #ccc;
  }
  .center {
    flex: 1;
    border-right: 1px solid #ccc;
  }
  .right {
    width: 30%;
    max-width: 400px;
  }
}

.title {
  font-size: var(--min-size);
  padding: 12px;
}
